/.idea/
/.phalcon/
/backend/config/config-local.php
/backend/runtime/
/frontend/config/config-local.php
/frontend/runtime/
/console/config/config-local.php
/console/runtime/
/common/config/config-local.php
phcli